<body class="schedule">
<h1 id="schedule">Surgery Scheduling</h1>

<%= form_with(url: procedures_url, local: true) do %>

<div class="container">
  <div class="row">
    <div class="form-group col-md">
      <div class="sch">
      <%= label_tag("procedure[patient_id]", "Patient") %>
    </div>
      <%= select_tag(
          "procedure[patient_id]",
          options_for_select(
            @patients.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <div class="sch">
      <%= label_tag("patient[address]", "Address") %>
    </div>
      <%= text_field_tag(
          "patient[address]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-4">
      <div class="sch">
      <%= label_tag("patient[city]", "City") %>
    </div>
      <%= text_field_tag(
          "patient[city]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-2">
      <div class="sch">
      <%= label_tag("patient[state]", "State") %>
    </div>
      <%= text_field_tag(
          "patient[state]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-6">
      <div class="sch">
      <%= label_tag("patient[phone]", "Phone") %>
    </div>
      <%= text_field_tag(
          "patient[phone]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-6">
      <div class="sch">
      <%= label_tag("patient[email]", "Email") %>
    </div>
      <%= text_field_tag(
          "patient[email]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <div class="sch">
      <%= label_tag("procedure[ailment_id]", "Diagnosis") %>
    </div>
      <%= select_tag(
          "procedure[ailment_id]",
          options_for_select(
            @ailments.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <div class="sch">
      <%= label_tag("procedure[remedy_id]", "Procedure") %>
    </div>
      <%= select_tag(
          "procedure[remedy_id]",
          options_for_select(
            @remedies.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <div class="sch">
      <%= label_tag("procedure[physician_id]", "Physician") %>
    </div>
      <%= select_tag(
          "procedure[physician_id]",
          options_for_select(
            @physicians.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <div class="sch">
      <%= label_tag("procedure[start_at]", "Start") %>
    </div>
      <%= datetime_field_tag("procedure[start_at]", nil, class: "form-control") %>
    </div>
  </div>
  <div class="actions">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
</body>
