<h1>Surgery Scheduling</h1>

<%= form_with(url: procedures_url, local: true) do %>

  <div class="row">
    <div class="form-group col-md">
      <%= label_tag("procedure[patient_id]", "Patient") %>
      <%= select_tag(
          "procedure[patient_id]",
          options_for_select(
            @patients.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= label_tag("patient[address]", "Address") %>
      <%= text_field_tag(
          "patient[address]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-4">
      <%= label_tag("patient[city]", "City") %>
      <%= text_field_tag(
          "patient[city]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-2">
      <%= label_tag("patient[state]", "State") %>
      <%= text_field_tag(
          "patient[state]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-6">
      <%= label_tag("patient[phone]", "Phone") %>
      <%= text_field_tag(
          "patient[phone]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
    <div class="form-group col-md-6">
      <%= label_tag("patient[email]", "Email") %>
      <%= text_field_tag(
          "patient[email]",
          nil,
          disabled: true,
          class: "form-control")
      %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= label_tag("procedure[ailment_id]", "Diagnosis") %>
      <%= select_tag(
          "procedure[ailment_id]",
          options_for_select(
            @ailments.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= label_tag("procedure[remedy_id]", "Procedure") %>
      <%= select_tag(
          "procedure[remedy_id]",
          options_for_select(
            @remedies.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= label_tag("procedure[physician_id]", "Physician") %>
      <%= select_tag(
          "procedure[physician_id]",
          options_for_select(
            @physicians.map(&:option_display).prepend(["Select", nil])
          ),
          class: "chosen-select form-control"
      )%>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= label_tag("procedure[date]", "Date") %>
      <%= date_field_tag("procedure[date]", nil, class: "form-control") %>
    </div>
    <div class="form-group col-md-4">
      <%= label_tag("procedure[start_time]", "Start Time") %>
      <%= time_field_tag("procedure[start_time]", nil, class: "form-control") %>
    </div>
    <div class="form-group col-md-4">
      <%= label_tag("procedure[end_time]", "End Time") %>
      <%= time_field_tag("procedure[end_time]", nil, class: "form-control") %>
    </div>
  </div>
  <div class="actions">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
