
<body>
<% if user_signed_in? %>
  <h4>Patient: <%= @procedure.patient.first_name %> <%= @procedure.patient.last_name %></h4>
<% end %>

<p>
  <strong>Physician: </strong> <%= @procedure.physician.first_name %> <%= @procedure.physician.last_name %> <br>

  <strong>Surgery Date/Time: </strong><%= @procedure.start_at.strftime("%m/%d/%Y at %I:%M%p") %>
</p>




    	<div class="row">
  <div class="col-md-4">
    <div class="thumbnail1">
      <a href="/app/assets/images/TLG.png">
        <img src="/app/assets/images/TLG.png" alt="Logo" style="width:100%">
        <div class="caption">
          <p><strong>Hospital: </strong> <%= @procedure.physician.hospital.name %> <br>
  <strong>Address: </strong> <%= @procedure.physician.hospital.address %>, <%= @procedure.physician.hospital.city %> <%= @procedure.physician.hospital.state %><br>
  <a href= "https://goo.gl/maps/pr1GVkZiJU52">Google</a></p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail2">
      <a href="rotatorcuffrepair">
        <img src="rotatorcuffrepair" alt="Rotator Cuff Repair" style="width:100%">
        <div class="caption">
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail3">
      <a href="#">
        
          <p>Lorem ipsum...</p>
        </div>
      </a>
    </div>
  </div>
</div>



<ul class="nav nav-pills">
	<div>
  	<li class="nav-item">
    <a class="nav-link active" href="#">Pre-Op To Do List</a>
    <h3>Pre-Op Due Dates</h3>
<%@before_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at.strftime("%m/%d/%Y")%></div>
<% end %>
  	</li>
	</div>
	<div>
  	<li class="nav-item">
    <a class="nav-link" href="#">Day of Surgery Reminders</a>
  	</li>
  	<h3>Day Of Surgery Reminders</h3>
<%@day_of_tasks.each do |task| %>
  <div><%= task.action.activity %></div>
<% end %>
	</div>
	<div>
  	<li class="nav-item">
    <a class="nav-link" href="#">Post-Operative To Do List</a>
  	</li>
  	<h3>Post-Op Tasks</h3>
<%@after_tasks.each do |task| %>
  <div><%= task.action.activity %> <%= task.action.number %> <%= task.action.unit %> <%= task.action.timeline %></div>
<% end %>
  </div>
</ul>
</body>






