
<% if user_signed_in? %>
  <h4>Patient: <%= @procedure.patient.first_name %> <%= @procedure.patient.last_name %></h4>
<% end %>

<p>
  <strong>Physician: </strong> <%= @procedure.physician.first_name %> <%= @procedure.physician.last_name %> <br>

  <strong>Time: </strong><%= @procedure.start_at.strftime("%m/%d/%Y at %I:%M%p") %>
</p>

  <div class="row">
  <div class="col-sm-3"  style="border: solid 1px black;"> <!-- col 1 -->
    <div class="card">
      <div class="card-body">
        <%= image_tag "hospital" %>
      <br>
  <strong>Hospital: </strong> <%= @procedure.physician.hospital.name %> <br>
  <strong>Address: </strong> <%= @procedure.physician.hospital.address %>, <%= @procedure.physician.hospital.city %> <%= @procedure.physician.hospital.state %><br>
  <a href= "https://goo.gl/maps/pr1GVkZiJU52">Google</a>
      </div>
    </div>
  </div> <!-- first col -->

  <div class="col-sm-6" style="border: solid 1px black;" > <!-- col 2 -->
    <div class="card">
      <div class="card-body">
         <%= image_tag "rotator"%>
      </div>

    </div>
  </div> <!-- end of second col -->
  <div class="col-sm-3" style="border: solid 1px black;"> <!-- col 3 -->
    <div class="card">

       <p><%= @procedure.remedy.description %></p>
  <p><%= @procedure.ailment.description %></p>
  </div> <!-- card end -->
  </div> <!-- 3rd col -->


</div> <!--end of row-->


<%# <ul class="nav nav-pills">
  <li class="active"><a href="#">Before</a></li>
  <li><a href="#">Day of</a></li>
  <li><a href="#">After</a></li>
</ul> %>
<%# <div class="container">
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Before</a>
  </li>
  <li><a href="#">Dayof </a></li>
  <br>
  <li><a href="#">After</a></li>
</ul> %>


<div class="container">
  
  <ul class="nav nav-pills">
  
    <li class="nav-item"><a class=" nav-link active" data-toggle="pill" href="#home">Home</a></li>
    <li class= "nav-item"><a class=" nav-link " data-toggle="pill" href="#menu1">Before</a></li>
    <li class= "nav-item"><a class=" nav-link " data-toggle="pill" href="#menu2">Day of</a></li>
    <li class= "nav-item"><a class=" nav-link " data-toggle="pill" href="#menu3">After</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    <div id="menu1" class="tab-pane fade">
     <%@before_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at %></div>
<% end %>
    <div id="menu2" class="tab-pane fade">
     <h3>DayOf</h3>
<%@day_of_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at %></div>
<% end %>
    <div id="menu3" class="tab-pane fade">
     <h3>After</h3>
<%@after_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at %></div>
<% end %>
  </div>
</div>



<h3>Before</h3>
<%@before_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at %></div>
<% end %>

<h3>DayOf</h3>
<%@day_of_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at %></div>
<% end %>

<h3>After</h3>
<%@after_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at %></div>
<% end %>
</div>
</div>
</div>
