<h1><%= @procedure.remedy.description %></h1>
<h3><%= @procedure.ailment.description %></h3>
<% if user_signed_in? %>
  <h4>Patient: <%= @procedure.patient.first_name %> <%= @procedure.patient.last_name %></h4>
<% end %>

<p>
  <strong>Physician: </strong> <%= @procedure.physician.first_name %> <%= @procedure.physician.last_name %> <br>
  <strong>Hospital: </strong> <%= @procedure.physician.hospital.name %> <br>
  <strong>Address: </strong> <%= @procedure.physician.hospital.address %>, <%= @procedure.physician.hospital.city %> <%= @procedure.physician.hospital.state %><br>
  <strong>Time: </strong><%= @procedure.start_at.strftime("%m/%d/%Y at %I:%M%p") %>
</p>

<h3>To Do List</h3>

<div> 
	<h5>Pre-Operative To Do List</h5>
	<ul>
		<% @before_tasks.each do |task| %>
			<li> <%= task.activity %> <%= task.number %> <%= task.unit%> <%= task.timeline%></li>
		<% end %>
	</ul>

</div>

<div> 
	<h5>Today is the big day!   Make sure that you have been fasting since midnight!  Please arrive at the hospital 2 hours prior to your surgery.  You should arrive by ......   We will see your there!</h5>

</div>

<div> 
	<h5>Pre-Operative To Do List</h5>
	<ul>
		<% @after_tasks.each do |task| %>
			<li> <%= task.activity %> <%= task.number %> <%= task.unit%> <%= task.timeline%></li>
		<% end %>
	</ul>
</div>


