<body>
	<div class="admin">
	<% if user_signed_in? %>
  	<h4 id="person">Patient: <%= @procedure.patient.first_name %> <%= @procedure.patient.last_name %></h4>
	<% end %>


<p>
  <strong>Physician: </strong> <%= @procedure.physician.first_name %> <%= @procedure.physician.last_name %> <br>

  <u><strong>Surgery Date/Time: </strong><%= @procedure.start_at.strftime("%m/%d/%Y at %I:%M%p") %></u>
</p>
</div>

<!-- *******Here starts the top half of the page******* -->

<div class="top-half">
	<div class="row-left-block">
		<div class="top-left">
			<div class="row-logo">
				<%= image_tag 'TLG', alt: "Logo", style: "width:100%" %>
			</div>
			<br>
			<div class="row-hospital">
				<b><%= @procedure.physician.hospital.name %></b><br>
				<%= @procedure.physician.hospital.address %>, <%= @procedure.physician.hospital.city %> <%= @procedure.physician.hospital.state %><br>
  						<a href= "https://goo.gl/maps/pr1GVkZiJU52">Click here for directions</a></p>
  						<br>
			</div>
		</div>

		<div class="description">
			<% if @procedure.remedy_id == 287 %>
         <b class="desc"><%= "Knee Ligament Repair" %></b><br>
         <ul>
         <li><%= "Reattachment or reconstruction of the torn ligament by using a portion (graft) of the patellar tendon (that connects the kneecap to the tibia), the hamstring tendon (from the back of the thigh), or other autografts." %></li><br>
        <li><%= "The tendon graft may come from the person (autograft) or from an organ donor (allograft)." %></li>
       </ul>
      <% elsif @procedure.remedy_id == 23 %>
        <b class="desc"><%= "Rotator Cuff Repair" %></b><br>
        <ul>
        <li><%= "Small rivets (called suture anchors) are often used to help attach the tendon to the bone. The suture anchors can be made of metal or material that dissolves over time, and do not need to be removed." %></li>
        <li><%= "Sutures (stitches) are attached to the anchors, which tie the tendon back to the bone." %></li>
				<li><%= "The tendons are re-attached to the bone." %></li>
      </ul>
      <% else %>
        <%= "*Please input either procedure code '23420' or '27407' on the surgical scheduling screen to see demo references to surgical descriptions." %>
      <% end %>
		</div>
	</div>


	<div class="row-right-block">
		<div class="picture-logic">
			<% if @procedure.remedy_id == 23 %>
        <%= image_tag 'rotatorcuffrepair', alt: "Rotator Cuff Repair", style: "width:100%" %>
      <% elsif @procedure.remedy_id == 287 %>
        <%= image_tag 'knee', alt: "Knee Surgery", style: "width:100%" %>
      <% else %>
        <%= image_tag 'skeleton2', alt: "Skeletal System", style: "width:100%" %>
      <% end %>
		</div>
	</div>
</div>

<!-- *******Top Half of Page Ends Here******* -->

<!--
*******W3School Tabs******* -->


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #b9e4e2;
    padding-left: 12em;
		font-family: 'Vollkorn SC', serif;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 100px;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #dee2e6;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.clickhere {
	padding-left: 0em;
  font-size: 25px;
}

/* Fading effect */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    padding-left: 36em;
		background-color: #dee2e6;
	}



/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
</style>
</head>
<body>

<div class="clickhere">
<p><b><u>Click on the tabs below for your reminders!</u></b></p>
</div>

<div class="tab">
  <button class="tablinks" onclick="openTodo(event, 'Intro')">Patient Guide</button>
  <button class="tablinks" onclick="openTodo(event, 'Preop')">Before Surgery</button>
  <button class="tablinks" onclick="openTodo(event, 'Dayof')">Day of Surgery</button>
  <button class="tablinks" onclick="openTodo(event, 'Postop')">After Surgery</button>
</div>

<div id="Intro" class="tabcontent">
  <p>Surgery can be a very busy and stressful time!<br>
    Since you have a lot of things to remember, the tabs included here can help you to stay organized and to keep you on track in preparing for your upcoming procedure.<br>  These lists are suggestions to prepare things at home so that you can focus on a smooth recovery.</p>
</div>

<div id="Preop" class="tabcontent">
  <p>Below is a list of things that will help you to organize your time prior to surgery.<br>
    Your physician's office has given you a list of pre-operative testing to clear you for your procedure.<br>  Please take note of the timelines below.<br>  The list also includes some things to keep in mind to prepare you for recovery.
    <ul class="list">
			<%@before_tasks.each do |task| %>
  <div><%= task.action.activity %> : <%=task.due_at.strftime("%m/%d/%Y")%></div>
			<% end %>
		</ul></p>
</div>

<div id="Dayof" class="tabcontent">
 Today is the big day!  <br><br>
 Your surgery is at: </strong><%= @procedure.start_at.strftime("%m/%d/%Y at %I:%M%p") %><br>
 <b><%= @procedure.physician.hospital.name %></b><br>
        <%= @procedure.physician.hospital.address %>, <%= @procedure.physician.hospital.city %> <%= @procedure.physician.hospital.state %><br><br>
  	Remember a few things listed below. <br>
  	No worries, you are in good hands!
  	<ul>
<%@day_of_tasks.each do |task| %>
  <div><%= task.action.activity %>.</div>
<% end %>
</ul>
</div>


<div id="Postop" class="tabcontent">
  <p>Your physician has given you a list of instructions for after your surgery. <br>
    Keep in mind the points below and pay close attention your recovery. <br>
  	<ul class="list">
<%@after_tasks.each do |task| %>
  <div><%= task.action.activity %> <%= task.action.number %> <%= task.action.unit %> <%= task.action.timeline %> surgery.</div>
<% end %></p>
</ul>
</div>

<script>
function openTodo(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
</body>
