
<body>
<% if user_signed_in? %>
  <h4>Patient: <%= @procedure.patient.first_name %> <%= @procedure.patient.last_name %></h4>
<% end %>

<p>
  <strong>Physician: </strong> <%= @procedure.physician.first_name %> <%= @procedure.physician.last_name %> <br>

  <strong>Surgery Date/Time: </strong><%= @procedure.start_at.strftime("%m/%d/%Y at %I:%M%p") %>
</p>




    	<div class="row">
  <div class="col-md-2">
    <div class="thumbnail1">
        <%= image_tag 'TLG', alt: "Logo", style: "width:100%" %>
        <div class="caption">
          <p><strong>Hospital: </strong> <%= @procedure.physician.hospital.name %> <br>
  <strong>Address: </strong> <%= @procedure.physician.hospital.address %>, <%= @procedure.physician.hospital.city %> <%= @procedure.physician.hospital.state %><br>
  <a href= "https://goo.gl/maps/pr1GVkZiJU52">Click here for directions</a></p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-7">
    <div class="thumbnail2">
    	<% if @procedure.remedy_id == 287 %>
        <%= image_tag 'rotatorcuffrepair', alt: "Rotator Cuff Repair", style: "width:100%" %>
        <% elsif @procedure.remedy_id == 23%>
        <%= image_tag 'knee', alt: "Knee Surgery", style: "width:100%" %> 
					<% end %>        	
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail3">
   <% if @procedure.remedy_id == 287 %>
        <%= "Rotator Cuff Repair" %>
        <% elsif @procedure.remedy_id == 23%>
        <%= "Knee Surgery" %> 
					<% end %>        	
      <a href="#">
        
        </div>
      </a>
    </div>
  </div>
</div>

<br>

<main>
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Guide the Patient</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Before Surgery</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Day of Surgery</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">After Surgery</label>
    
  <section id="content1">
    <p>
     Welcome to your patient guide.  You have enough to worry about to get ready for your upcoming surgery.  This is a way to ensure that you remember the things that you need to do starting today until you see your surgeon for your post-op follow-up visit.  
    </p>
    <p>
      We wish you well through this process!
    </p>
  </section>
    
  <section id="content2">
    <p>
      Bacon 
    </p>
    <p>
      Jerky 
    </p>
  </section>
    
  <section id="content3">
    <p>
      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket meatloaf short ribs.
    </p>
    <p>
      Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin meatloaf swine ground round venison.
    </p>
  </section>
    
  <section id="content4">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken. Pork belly meatball t-bone bresaola tail filet mignon kevin turkey ribeye shank flank doner cow kielbasa shankle. Pig swine chicken hamburger, tenderloin turkey rump ball tip sirloin frankfurter meatloaf boudin brisket ham hock. Hamburger venison brisket tri-tip andouille pork belly ball tip short ribs biltong meatball chuck. Pork chop ribeye tail short ribs, beef hamburger meatball kielbasa rump corned beef porchetta landjaeger flank. Doner rump frankfurter meatball meatloaf, cow kevin pork pork loin venison fatback spare ribs salami beef ribs.
    </p>
    <p>
      Jerky jowl pork chop tongue, kielbasa shank venison. Capicola shank pig ribeye leberkas filet mignon brisket beef kevin tenderloin porchetta. Capicola fatback venison shank kielbasa, drumstick ribeye landjaeger beef kevin tail meatball pastrami prosciutto pancetta. Tail kevin spare ribs ground round ham ham hock brisket shoulder. Corned beef tri-tip leberkas flank sausage ham hock filet mignon beef ribs pancetta turkey.
    </p>
  </section>
    
</main>


<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Click on tabs below for your reminders.</h2>

  <div class="w3-row">
    <a href="javascript:void(0)" onclick="openTodo(event, 'Pre-Operative');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Pre-Operative</div>
    </a>
    <a href="javascript:void(0)" onclick="openTodo(event, 'Day Of Surgery');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Day Of Surgery</div>
    </a>
    <a href="javascript:void(0)" onclick="openTodo(event, 'Post-Operative');">
      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Post-Operative</div>
    </a>
  </div>

  <div id="Pre-Operative" class="w3-container todo" style="display:none">
    Below is a list of things that will help you to organize your time prior to surgery.<br>  
    Your physician's office has given you a list of pre-operative testing to clear you for your procedure.<br>  Please take note of the timelines below.<br>  The list also includes some things to keep in mind to prepare you for recovery.  
    <ul>
			<%@before_tasks.each do |task| %>
  <div><%= task.action.activity %> <%=task.due_at.strftime("%m/%d/%Y")%></div>
			<% end %>
		</ul>
  </div>

  <div id="Day Of Surgery" class="w3-container todo" style="display:none">
  	Today is the big day!  <br>
  	Remember a few things listed below. <br>
  	No worries, you are in good hands!
  	<ul>
<%@day_of_tasks.each do |task| %>
  <div><%= task.action.activity %></div>
<% end %>
</ul>
  </div>

  <div id="Post-Operative" class="w3-container todo" style="display:none">
   Your physician has given you a list of instructions for after your surgery. <br>
    Keep in mind the points below, but also pay attention your recovery. <br>
  	<ul>
<%@after_tasks.each do |task| %>
  <div><%= task.action.activity %> <%= task.action.number %> <%= task.action.unit %> <%= task.action.timeline %></div>
<% end %>
  </div>
</div>

<script>
function openTodo(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-green", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-green";
}
</script> -->

</body>